<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Bem-vindo</title>
</head>
<body>
    <main class="main">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastrar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="cadastroProntuario.html">Prontuário</a>
                            <a class="dropdown-item" href="cadastroPaciente.html">Paciente</a>
                            <a class="dropdown-item" href="cadastroFisio.html">Fisioterapeuta</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="consultaProntuario.html">Prontuário</a>
                            <a class="dropdown-item" href="consultaPaciente.html">Paciente</a>
                            <a class="dropdown-item" href="consultaFisio.html">Fisioterapeuta</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    <h1>Cadastro de Paciente</h1>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-2">
                                    <label for="nomePaciente">Nome Completo:</label>
                                </div>
                                <div class="col-10">
                                    <input id="nomePaciente" type="text" class="form-control">
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-2">
                                    <label for="pacienteNascimento" >Data de Nascimento:</label>
                                </div>
                                <div class="col-2">
                                    <input id="pacienteNascimento" type="text" class="form-control">
                                </div>
                                <div class="col-1 justify-content-center d-flex">
                                    <label for="pacienteTelefone" class="text-center">Telefone:</label>
                                </div>
                                <div class="col-3">
                                    <input id="pacienteTelefone" type="text" class="form-control">
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <label for="pacienteSexo">Sexo:</label>
                                </div>
                                <div class="col-2">
                                    <select name="pacienteSexo" id="pacienteSexo" class="form-control">
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-1">
                                    <label for="pacienteCidade">Cidade:</label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" type="text" name="pacienteCidade" id="pacienteCidade">
                                </div>
                                <div class="col-1 d-flex justify-content-center">
                                    <label for="pacienteBairro">Bairro:</label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" type="text" name="pacienteBairro" id="pacienteBairro">
                                </div>
                                <div class="col-1 d-flex justify-content-center">
                                    <label for="pacienteBairro">Profissão:</label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" type="text" name="pacienteBairro" id="pacienteBairro">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-2">
                                    <label for="pacienteEnderecoRes">Endereço Residencial:</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" name="pacienteEnderecoRes" id="pacienteEnderecoRes">
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <label for="pacienteEstadoCivil">Estado Civil:</label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" type="text" name="pacienteEstadoCivil" id="pacienteEstadoCivil">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-2">
                                    <label for="pacienteEnderecoComer">Endereço Comercial:</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" name="pacienteEnderecoComer" id="pacienteEnderecoComer">
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <label for="pacienteNaturalidade">Naturalidade:</label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" type="text" name="pacienteNaturalidade" id="pacienteNaturalidade">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
          </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>