<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Bem-vindo</title>
</head>
<body>
    <main class="main">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastrar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="cadastroProntuario.html">Prontuário</a>
                            <a class="dropdown-item" href="cadastroPaciente.html">Paciente</a>
                            <a class="dropdown-item" href="cadastroFisio.html">Fisioterapeuta</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="consultaProntuario.html">Prontuário</a>
                            <a class="dropdown-item" href="consultaPaciente.html">Paciente</a>
                            <a class="dropdown-item" href="consultaFisio.html">Fisioterapeuta</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    <h1>Paciente</h1>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>
                                #
                            </th>
                            <th>
                                Paciente
                            </th>
                            <th>
                                CPF
                            </th>
                            <th>
                                Editar
                            </th>
                            <th>
                                Excluir
                            </th>
                            <th>
                                Detalhes
                            </th>
                            <th>
                                Prontuários
                            </th>
                        </thead>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Thaíris Siqueira
                            </td>
                            <td>
                                111.111.111-11
                            </td>
                            <td>
                                <button class="btn btn-success">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger">Excluir</button>
                            </td>
                            <td>
                                <button class="btn btn-warning">Detalhes</button>
                            </td>
                            <td>
                                <button class="btn btn-primary">Prontuários</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                João Victor
                            </td>
                            <td>
                                000.000.000-00
                            </td>
                            <td>
                                <button class="btn btn-success">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger">Excluir</button>
                            </td>
                            <td>
                                <button class="btn btn-warning">Detalhes</button>
                            </td>
                            <td>
                                <button class="btn btn-primary">Prontuários</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Fernando Neves
                            </td>
                            <td>
                                222.222.222-22
                            </td>
                            <td>
                                <button class="btn btn-success">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger">Excluir</button>
                            </td>
                            <td>
                                <button class="btn btn-warning">Detalhes</button>
                            </td>
                            <td>
                                <button class="btn btn-primary">Prontuários</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>