body {
    background: url("../img/bkg-e-fisio.svg") no-repeat center fixed;
    background-size: cover;
}
.btn-dark {
    border: 2px solid #5B5B5B !important;
    color: #5B5B5B;
    background-color: transparent;
    font-weight: 500;
}
.btn-dark:hover {
    background-color: #5B5B5B;
    color: #fff !important;
    border: 2px solid #fff !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.btn-dark:active {
    background-color: #5B5B5B !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.error-message {
    color: #ff0000;
}
.card-header, .card-footer {
    background-color: transparent;
}
th, td {
    text-align: center;
}
a:hover {
    cursor: pointer;
}
.important {
    font-size: 11pt;
    color: #ff0000;
}
.btn-nav {
    color: #fff;
    margin: 0 5px 0 5px; 
}
.btn-nav:hover {
    color: #fff;
    border: #fff 1px solid;
    border-radius: 5px;
}
.btn-warning {
    color: #fff !important;
}
.btnDelete {
    color: #fff !important;
}
#inputPesquisa:focus {
    border-style: none !important;
    box-shadow: none !important;
    outline: 0 !important;
}
.input-group {
    border: 3px solid #5b5b5b;
    border-radius: 3px;
}
.input-group-text {
    color: #fff;
    background-color: #5b5b5b;
    border: none;
    border-radius: 0;
}
.important-field {
    font-size: 14pt; 
    font-weight: bold; 
    text-align: center;
}
.error-message {
    color: #ff0000 !important;
}
.input-shadow {
    box-shadow: 3px 3px 10px #303030;
}